
    <div class="main-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mynavbar">
            <a class="navbar-brand mylogo" href="/">Mongo Scraper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Mongo Scraper</h1>
            <p class="lead">Here are your saved articles.</p>
            <a class="btn btn-primary btn-lg" href="/" role="button">Back Home</a>
        </div>
    </div>
    <div class="container">
        <h2>Saved Articles</h2>
        <hr>
        <div class="spacing">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="article-container">
                                <div class="article">
                                    <h4><span id="article-header">HEADER </span></h4>
                                    <span id="article-author">Elaine Lagon</span>
                                </div>
                                <div class="article-summary">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                                        dicta fugit molestiae nulla, vitae repellat nemo deleniti, expedita pariatur at
                                        ab,
                                        quo assumenda soluta officia aliquid dolore unde reiciendis. Labore nostrum
                                        facilis
                                        explicabo laudantium magnam? Cupiditate, voluptates laboriosam repudiandae
                                        doloremque repellendus cum enim voluptatibus hic aperiam neque eaque aliquam
                                        totam.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-danger ml-2">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacing">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="article-container">
                                <div class="article">
                                    <h4><span id="article-header" class="article-bold">HEADER </span></h4>
                                    <span id="article-author">Elaine Lagon</span>
                                </div>
                                <div class="article-summary">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                                        dicta fugit molestiae nulla, vitae repellat nemo deleniti, expedita pariatur at
                                        ab,
                                        quo assumenda soluta officia aliquid dolore unde reiciendis. Labore nostrum
                                        facilis
                                        explicabo laudantium magnam? Cupiditate, voluptates laboriosam repudiandae
                                        doloremque repellendus cum enim voluptatibus hic aperiam neque eaque aliquam
                                        totam.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-danger ml-2">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5" id="hidden-comments">
        <h2>Comments</h2>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-11">
                        <div class="comment-container">
                            <div class="user-info">
                                <i class="fas fa-user-circle" id="user-avatar">OSCAR | </i>
                                <span class="format-date user-bold" id="date">
                                    January 27, 2010 @ 8:24 am
                                </span>
                            </div>
                            <div class="comment-area">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                                    dicta fugit molestiae nulla, vitae repellat nemo deleniti, expedita pariatur at ab,
                                    quo assumenda soluta officia aliquid dolore unde reiciendis. Labore nostrum facilis
                                    explicabo laudantium magnam? Cupiditate, voluptates laboriosam repudiandae
                                    doloremque repellendus cum enim voluptatibus hic aperiam neque eaque aliquam totam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger ml">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-11">
                        <div class="comment-container">
                            <div class="user-info">
                                <i class="fas fa-user-circle" id="user-avatar">OSCAR | </i>
                                <span class="format-date user-bold" id="date">
                                    January 27, 2010 @ 8:24 am
                                </span>
                            </div>
                            <div class="comment-area">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                                    dicta fugit molestiae nulla, vitae repellat nemo deleniti, expedita pariatur at ab,
                                    quo assumenda soluta officia aliquid dolore unde reiciendis. Labore nostrum facilis
                                    explicabo laudantium magnam? Cupiditate, voluptates laboriosam repudiandae
                                    doloremque repellendus cum enim voluptatibus hic aperiam neque eaque aliquam totam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger ml">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="../public/assets/javascript/saved.js"></script>
