
@import url('https://fonts.googleapis.com/css?family=Lora|PT+Sans|Titillium+Web');

.main-container {
    margin-bottom:30px;
}

.mynavbar {
    background:#73a7dc!important;
}

.mylogo {
    font-weight:bold;
}

.spacing {
    margin-bottom:10px;
}

h4 {
    font-family: 'Titillium Web', sans-serif;
}

.article-summary p {
    font-family: 'Lora', serif;
}

.comment-container {
    border:1px solid#ccc;
}

.user-info {
    background:tan;padding:7px;  
}

.comment-area p {
    padding:10px;
    
}

.comment-color {
    color:#007bff;
}

.fa-user-circle:before { 
    margin-right: 5px;
}

#hidden-comments {
    display:none;
}